# Dependencies
node_modules/

# Environment
.env
.env.*
!.env.example

# Build output
dist/
build/

# Expo / React Native
.expo/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Logs & OS
*.log
npm-debug.log*
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/settings.json
.idea/
